
* li{
    list-style-type: none;
    color:rgb(1, 1, 1);
    text-decoration: none;
}

.textoFooter{
    text-decoration: none;
    font-family: $font-general;
    font-weight: bold;
}

.headerFooter{
    margin-top: 60px;
    padding: 0.5 px;
    color:$color-font-general;
    text-align: center;
    font-family: $font-general;
}

.contenerdorFlex2{
    padding: 10px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.datoslegales{
    padding: 2px;
    background:backcolor-footer;
    margin-top: 2%;
    font-size: 9px;
    text-align: center;
    color:white ;
    font-family: $font-general;
}