@mixin imagenes ($width, $height){
    width: $width;
    height: $height;
    object-fit: cover;
}

@mixin contenedorflex ($direction, $aling, $justify, $gap){
    display: flex;
    flex-direction: $direction;
    align-items: $aling;
    justify-content: $justify;
    gap: $gap;
}

@mixin contenedorgrid($grid-templatec,$gap ){
    display: grid;
    grid-template-columns:$grid-templatec;
    gap: $gap;
}

@media (max-width:540px ){
    .contenerdorFlex2{
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:539px){
    .contenedor-card1-image {
          width: 50%;
          height: 100%;
          object-fit: cover;
      }
  }

@media(max-width:540px){
.contenedor-card1-parrafo{
    width: 50%;
    height: 100%;
    text-align: center;
    font-family:$font-general;
    color: silver;
    padding: 15px;
}

}

