$backcolor-btn-main:rgb(48, 47, 47);
$font-general:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
$color-font-general:rgb(248, 217, 107);
$backcolor-footer:rgb(0, 0, 0);
$bakc-body:rgb(38, 36, 36);

