

.formulariohead{
    font-family:$font-general;
    padding: 5px;
    text-align: center;
    color:$color-font-general;
    border:solid whitesmoke 1px;
    margin-bottom: 2%;
    margin-top: 5%;
    
  
}

.cajaformulario{
    font-weight: bold;
    font-family:$font-general;
    overflow: hidden;
    border:solid 1px whitesmoke;
    padding: 10px;

    .formulario-body{
        width: 500px;
        display: flex;
        flex-direction: column;
        color:$color-font-general;
        gap: 10px;
    }

    .formulario-body-btn{
        width: 200px;
        background-color: brown;
        color:$color-font-general;
        border-style: none;
        border-radius: 10px;
    }

    .textarea{
        width: 200px;
        height: 100px;
    }

}

.formcontenedor{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family:$font-general;
    color:$color-font-general;
    border-color:$color-font-general ;
    border-top: solid;
    border-bottom: solid;
}

.formcontenedorflex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
    
   
   
}

.espaciocontenedor{
    margin-top: 70px;
    padding: 14px;
}



 