.contenerdor1{
    margin-top: 5%;
    display: flex;

    .contenedor-card1{
        background-color: black;
        @include contenedorflex(0, center, space-between, 10px);
    
        &:hover{
        box-shadow: 0 0 2px 2px whitesmoke;
        transition: 0.5s;
        background-color: rgb(106, 106, 106);
        color: black;
        }
    }

    .contenedor-card1 div:hover{
        transition: 0.5s;
        background-color: rgb(106, 106, 106);
        color: black;
    }

    

    


    

}

.contenedor-card1-image img{
    @include imagenes(100%, 100%,); 
} 

.textobody{
    
    height: 200px;
    color:$color-font-general;
    background-color:rgb(7, 7, 7) ;
    
    font-family:$font-general;
    text-align: center;
   
    border-radius: 10px;
    
    margin: 10px 5px 0px 5px ;
    overflow: hidden;

    &:hover{
        box-shadow: 0 0 11px 0px goldenrod;
        padding: 1px;
        transition: 0.3s;
        height: 201px;
    }
    
}