
/*_____________________SOMOS JP________*/

.cols{
    @include contenedorgrid(repeat(auto-fit, minmax(300px, 1fr)), 20px);
    padding: 20px;


    .col {
        width: 300px;
        border: 1px groove rgb(255, 255, 255);
        background-color: black;
        
        &:hover{
            border: 2px groove rgb(255, 255, 255);
            box-shadow: 0 0 4px 4px gold;
            transition: 0.3s;
        }

        .txtcuerpo{
            color: silver;
            padding: 10px;
            text-align: center;
            font-family:$font-general;  
        }
        
    }
    .col img {
        @include imagenes(100%, 200px);
    }
}

.contenedor-card1-image{
    @include imagenes (80%, 250px);
    
}

.contenedor-card1-parrafo{
    
    text-align: center;
    font-family:$font-general;
    color: silver;
    padding: 15px;
}


@media (max-width:539px){
    .contenedor-card1-image {
          width: 50%;
          height: 100%;
          object-fit: cover;
      }
  }

@media(max-width:540px){
.contenedor-card1-parrafo{
    width: 50%;
    height: 100%;
    text-align: center;
    font-family:$font-general;
    color: silver;
    padding: 15px;
}

}
